# IntelliJ IDEA
/.idea/
erasmus-sds-backend.iml

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma migrations
/prisma/migrations/

# build
/src/*.js